.playButton {
  display: block;
  margin: auto;
  text-decoration-line: none;
  color: rgb(255, 119, 119);
  font-size: 2.4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px 22px;
  bottom: 15vh;
  position: absolute;
}

.rulesContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}