@import './vendors/reset.scss';
@import './vendors/fonts.scss';

@import './svg/svg.scss';
@import './svg/svgIcons.scss';

@import './components/home.scss';
@import './components/characters.scss';
@import './components/game.scss';
@import './components/enigme.scss';
@import './components/win.scss';
@import './components/lose.scss';
