// HOME 

.homeMain {
}

.bgIntroContainer {
  background-color: #FF7777;
  width: 100vw; 
  height: 100vh;
  position: absolute; 
  top: 0; 
  z-index: -10; 
}

.bgIntro {
  width: 100%;
  height: 100%;
  animation: disappear 2s 5s forwards;
}

@keyframes piss {
  to {
    transform: translateY(200px);
  }
}

@keyframes grow {
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1); 
    opacity: 1; 
  }
}

@keyframes disappear {
  to {
    opacity: 0; 
  }
}

section {
  background: #FF7777;
}

.piss {
  fill: #FCFC9C; 
}

.pissWave {
  animation: piss 5s linear forwards; 
}

.pissPool {
  transform-origin: 50% 75%; 
  transform: scale(0.1);
  opacity: 0; 
  animation: grow 2s 2s linear forwards;
}

// PESONNAGE

.svgContainer {
  position: absolute;
  bottom: 0;
  width: 20vw; 
  left: 40vw;
  height: 75vh;
}

.character {
  fill: white; 
  stroke: black; 
  height: 100%;
}

@keyframes walk {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes walkArm {
  from {
    transform: scale(0.99);
  }
  to {
    transform: translateZ(0);
  }
}

.leftLeg {
  animation: walk 0.4s linear alternate infinite; 
}

.rightLeg {
  animation: walk 0.4s 0.4s linear alternate infinite; 
}

.leftArm, .leftHand {
  animation: walkArm 0.4s 0.4s linear alternate infinite;
  fill: white; 
  stroke: black; 
}

.rightArm, .rightHand {
  animation: walkArm 0.4s linear alternate infinite;
  fill: white; 
  stroke: black; 
}


