
.logoContainer {

  svg {
    width: 140px; 
    height: 140px;
  }
}
.degrade {
  fill: url(#Dégradé_sans_nom_23);
}

.logoSvg {
  fill: #fff;
}

.color3 {
  fill: #999;
}

.color4 {
  fill: #999;
  opacity: 0.52;
}

.clc-4 {
  fill: #fff;
}