
.logoContainer {
  svg {
    width: 140px; 
    height: 140px;
    z-index: 40;
  }
}


.urinupContainer {
  svg {
    use {
      width: 140px; 
      height: 140px;
    }

  }
}

.soundContainer {
  width: 100%;
  height: 100%;
  svg {
    width: 50px; 
    height: 50px;
    z-index: 50;
  }
}
