.enigmaMain {
  background: url('/assets/img/bg.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  position: relative;
  width: 100vw; 
  height: 100vh;
  background: linear-gradient(#2E0244, #E56C63);
  color: white;
  justify-content: center;
}

form {
  margin-top: 80px;
}

.formInput {
  width: 450px;
  height: 150px;
  background-color: white;
  border: solid 5px white;
  border-radius: 4px;
  margin: auto;
  color: black;
  font-size: 4.5rem;
  
}

input {
  width: 100%;
  height: 100%;
  font-size: 60px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.enigmaTitle {
  padding-top: 50px;
  font-size: 4rem;
  margin-bottom: 80px;
  text-align: left;
  padding-left: 80px;
}

.enigmaList {
  font-size: 1.8rem;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 58%;
  border: solid 2px white;
  border-radius: 40px;
  padding: 40px;
  li {
    padding-bottom: 20px;
  }
}