@keyframes appear {
  to {
    opacity: 1;
  }
}

.homeMain {
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
  
}

.homeContent {
  width: 100vw; 
  height: 100vh;
  opacity: 0;
  animation: appear 1s 5s forwards; 
  background: linear-gradient(#2E0244, #E56C63);
}

.introTitle, 
.goalTitle, 
.rulesTitle {
text-align: left;
padding-top: 40px;
padding-bottom: 15px;
font-size: 2rem;
width: 50%;
}

.introContainer,
.goalContainer,
.rulesContainer {
  width: 55%;
  padding: 25px;
  padding-top: 35px;
  border: solid 2px white;
  border-radius: 25px;
  margin: 0 auto;
}

.introContent,
.goalContent,
.rulesContent {
 color: white;

}


.buttonHome {
  position: absolute;
  padding: 20px 55px;
  background-color: white;
  color: rgb(182, 35, 99);
  text-decoration-line: none;
  border-radius: 40px;
  font-size: 2rem;
  bottom: 55px;
  margin-left: calc( 50% - 6.5rem);
}

li {
  cursor: pointer;
}