// HOME 
@keyframes piss {
  to {
    transform: translateY(200px);
  }
}

@keyframes grow {
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1); 
    opacity: 1; 
  }
}

@keyframes disappear {
  to {
    opacity: 0; 
  }
}

.loaderContainer {
  width: 100vw; 
  height: 100vh;
  position: absolute; 
  top: 0; 
}

.loader {
  width: 100%;
  height: 100%;
  animation: disappear 1s 5s forwards;
}

.piss {
  fill: #FCFC9C; 
}

.pissWave {
  animation: piss 5s linear forwards; 
}

.pissPool {
  transform-origin: 50% 75%; 
  transform: scale(0.1);
  opacity: 0; 
  animation: grow 2s 2s linear forwards;
}



